<h1>Danh sách mẫu</h1>
<div class="search-container">
  <form action="/admin/search" method="post" class="form-search">
    <input type="text" name="input" placeholder="Nhập từ khóa" class="input-search">
    <button type="submit" class="btn btn-primary button-search">Tìm kiếm</button>
  </form>
</div>
<a class="btn btn-outline-primary" href="/admin/addMau" role="button">Thêm mẫu</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên mẫu</th>
      <th scope="col">Thời gian tạo</th>
      <th scope="col">Tùy chọn</th>
    </tr>
  </thead>
  <tbody>
    {{#each maus}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{formatDate this.updatedAt}}</td>
      <td >
        <a href="/admin/viewMau/{{this._id}}" type="button" class="btn btn-success">Chi tiết</a>
        <a href="/admin/deleteMau/{{this._id}}" type="button" class="btn btn-danger">Xóa</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<nav aria-label="..." class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/admin?page=1">First</a>
    </li>
    <li class="page-item previous">
      <a class="page-link" href="/admin?page={{pagePrevious}}">Previous</a>
    </li>
    <li class="page-item">
      {{#if pageLeft }}
      <a class="page-link" href="/admin?page={{pageLeft}}">{{pageLeft}}</a>
      {{/if}}
    </li>
    <li class="page-item active">
      <span class="page-link" id="page">{{pageNumber}} </span>
    </li>
    <li class="page-item">
      {{#if pageRight }}
      <a class="page-link" href="/admin?page={{pageRight}}">{{pageRight}}</a>
      {{/if}}
    </li>
    <li class="page-item">
      <a class="page-link" href="/admin?page={{pageNext}}">Next</a>
    </li>
    <li class="page-item ">
      <a class="page-link" href="/admin?page={{pageLast}}">Last</a>
    </li>
  </ul>
</nav>