<h3 class="text-center text-primary">'{{nameFrame}}' của mẫu '{{nameMau}}'</h3>
<div class="text-center mt-4">
    <img src="/admin/getImage/{{id1}}/{{id2}}" alt="Hình ảnh" width="60%" />
</div>
<div class="text-center mt-4 row">
    <div class="col-md-2">
        <a href="/admin/viewMau/{{id1}}" type="button" class="btn btn-secondary">Quay lại</a>
        <a href="/admin/addLabel/{{id1}}/{{id2}}" type="button" class="btn btn-success">Thêm</a>
    </div>
    <div class="col-md-10">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Nhãn</th>
                    <th>Tọa độ trái trên</th>
                    <th>Tọa độ phải dưới</th>
                    <th>Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#each dataLabel}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>({{this.x_left}}; {{this.y_left}})</td>
                    <td>({{this.x_right}}; {{this.y_right}})</td>
                    <td>
                        <a href="/admin/editLabel/{{../id1}}/{{../id2}}/{{this._id}}" type="button" class="btn btn-warning">Sửa</a>
                        <a href="/admin/deleteLabel/{{../id1}}/{{../id2}}/{{this._id}}" type="button" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>